<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="board.web.servlet.store.mapper.ArticleMapper">
  
  <select id="select" parameterType="String" resultType="Article">
  	SELECT id AS articleId,
  		title,
  		authorName,
  		regDate, 
  		contents,
  		boardId
  	FROM article_tb
  	WHERE id = #{articleId}
  </select>
  
  <select id="selectAll" parameterType="String" resultType="Article">
    	SELECT id AS articleId,
    	title,
  		authorName,
  		regDate, 
  		contents,
  		boardId
  	FROM article_tb
  	WHERE boardId = #{boardId}
  </select>
  <insert id="insert" parameterType="Article">
  <selectKey keyProperty="articleId" resultType="String" order="BEFORE">
  	SELECT article_seq.nextval FROM dual
  </selectKey>
  INSERT INTO article_tb(id, title, authorName, regDate, contents, boardId)
  VALUES (#{articleId}, #{title}, #{authorName}, #{regDate}, #{contents}, #{boardId})
  </insert>
  
  <delete id="delete" parameterType="String">
  DELETE FROM article_tb WHERE id = #{articleId}
  </delete>
  
  <update id="update" parameterType="Article">
  UPDATE article_tb 
  SET contents = #{contents}
  WHERE id = #{articleId}
  </update>
  
  </mapper>